<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat Login</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="login.js"></script>
</head>
<body>

    <table>
        <tr>
            <td>Username</td>
            <td><input type="text" name="username" id="username"/></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="password" id="password" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="button" value="login" onclick="getData()"/>
            </td>
        </tr>
    </table>

    <div id="action">
        <img id="loading" src="/static/images/loading.gif" style="display:none" />
        <img id="ok" src="/static/images/ok.png" style="display:none" />
        <img id="fail"  src="/static/images/fail.png" style="display:none" />
    </div>
</body>
</html>